[submodule "ip-intelligence-data"]
	path = ip-intelligence-data
	url = ../ip-intelligence-data
[submodule "src/common-cxx"]
	path = src/common-cxx
	url = ../common-cxx
	branch = feature/align-string-sorting
[submodule "src/ip-graph-cxx"]
	path = src/ip-graph-cxx
	url = ../ip-graph-cxx
